---
theme:
    name: rcnoob
---
<!doctype html>
<html>
  <head>

    <!-- Google Tag Manager -->

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WTJSSCM');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% if page.tagline %}<meta name="description" content="{{ page.tagline }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">    
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}"/>{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
 <!--Helium css-->
<!--         <script src="https://kit.fontawesome.com/7ef4be0c56.js"></script> -->
        <script src="{{ BASE_PATH }}/assets/js/rcicons.js"></script>
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/animate.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/font-awesome.min.css"> -->
        <!-- <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/jasny-bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/main.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <!--<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/owl.theme.css"> 
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/responsive.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/scrolling-nav.css">	 --> 

	<!-- CSS loaded by the children page -->
        <!-- {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/css/custom/{{ page.css }}" />{% endif %} -->

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.tagline }}">
    <meta property="og:url" content="{{ BASE_PATH }}">
    </head>
  <body>
<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTJSSCM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="wrapper">
{% include themes/bootstrap/nav-bar.html %} 
{{ content }}
<br />
{% include themes/bootstrap/footer.html %}
</div>

        <script src="{{ BASE_PATH }}/assets/js/jquery.min.js"></script>
        <!-- <script src="{{ BASE_PATH }}/assets/js/jasny-bootstrap.min.js"></script> -->
        <script src="{{ BASE_PATH }}/assets/js/main.js"></script>
        <script src="{{ BASE_PATH }}/assets/js/tether.min.js"></script>   
        <script src="{{ BASE_PATH }}/assets/js/bootstrap.min.js"></script>

</body>
</html>